@using CoV.Service.DataModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
    var order = (List<OrderViewModel>) ViewBag.list;
}

 <div class="row">
        <div class="col-12">
            <h1 style="text-align: center" ><a  asp-controller="OrderDetals" asp-action="ShowDetails">Chi tiết đơn hàng </a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table  id="ShowClass" class="table table-bordered table-hover">
                <thead class="thead-light">       
                <tr style="background-color: darkgrey">
                    <td >Số điện thoại</td>
                    <td >Tên sản phẩm </td>
                    <td >Mã Sản phẩm</td>
                    <td > TổngGiá</td>
                    <td > Size</td>
                    <td > Ảnh</td>
                    <td >Ngày nhập</td>
                    <td >Số lượng </td>
                </tr>
                
                <tbody>
                @foreach(var item in order)
                { 
                    <tr style="text-align: center" > 
                        <td >@item.Name</td> 
                        <td >@item.Product.Name</td> 
                        <td >@item.Product.Sku</td> 
                        <td >@item.TotalPrice</td> 
                        <td >@item.Size</td> 
                        <td  style="width: 20px; height: 20px" ><img src="~/Images/@item.Product.AvatarDetails"/></td> 
                        <td >@item.CreateDate</td> 
                        <td >@item.Quantity</td> 
                       
                    </tr> 
                } 
                </tbody>
                </thead>
            </table>
        </div>
    </div>


@section Scripts{
    <script>    
        $(document).ready(function() {
            $('#ShowClass').DataTable();
            $('.dataTables_empty').text("Danh sách rỗng");
            $('.next').text("Trang tiếp");
            $('.previous').text("Trang trước");

        });
    </script>

}